body {
	font-size:12pt;
	font-family:Open Sans;
	color: white;
	background:#2E322B;
}
#dm {
	box-shadow:0 0 10px black;
	width:70%;
	margin-top:3%;
	margin-left:15%;
	background:#495A3E;
	border:1px outset #899281;
}
#d1 {
	margin-left:2%;
	float:left;
	border:2px solid #717D68;
	box-shadow:0 0 3px black;
}
#d2 {
	margin-left:45%;
	width:60%;
	height:80%;
}
h1 {
	text-align:center;
	font-size:16pt;
	font-weight: normal;
}	
h2 {
	color:#A2B550;
	font-size:12pt;
	font-weight: normal;
}
p {
	margin:0;
	margin-left:5%;
}
a {
	color:#EAE08D;
}
