@font-face {
font-family: Slavianskiy;
src: url(fonts/10385.ttf); 
}
@font-face {
font-family: Runic;
src: url(fonts/4723.ttf); 
}
body {
font-size: 16pt;
font-family: Slavianskiy;
background-color: black;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
color: black;
text-align: center;
}
caption {
font-size: 20pt;
}
table {
width: 100%;
height: 24%;
}
button {
background-color: sienna;
font-family: Runic;
padding: 8px;
width: 200px;
font-size: 32pt;
border: none;
border-radius: 20px;
}
button:active {
box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5);
}