@font-face {
font-family: Slavianskiy;
src: url(fonts/10385.ttf); 
}
@font-face {
font-family: Runic;
src: url(fonts/4723.ttf); 
}
body {
font-size: 20pt;
font-family: Slavianskiy;
background-image: url(../img/bg.png);
background-attachment: fixed;
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
color: #201001;
text-align: center;
}
div > form {
display: inline-block;
}
button {
margin-bottom: 16px;
}
button {
background-image: url(../img/drevo.png);
font-family: Runic;
padding: 8px;
width: 228px;
font-size: 32pt;
border: none;
color: #000000bf;
border-radius: 55px;
box-shadow: 0 1px 2px black;
transition: box-shadow 0.1s;
}
button:active {
box-shadow: 0 1px 1px black, inset 0 1px 2px black;
}
