body {
	font-family: Arial;
	background: bg_1.png;
	background-size: cover;
}
header {
	background: rgba(250, 0, 0, 0.9);
	color: #000;
	padding-left: 2%;
	text-align: left;
	width: 70%;
	margin-left: 14%;
}
div {
	padding-left: 6%;
	padding-right: 6%;
	background: rgba(0, 0, 0, 0.9);
	color: #fff;
	text-align: left;
	width: 55%;
	margin-left: 14%;
}
p {
	font-size: 16pt;
}
a {
	color: #f00;
}
.cl {
	padding-left: 6%;
}
footer {
	background: rgba(200, 0, 0, 0.9);
	color: #000;
	padding-right: 1%;
	text-align: right;
	width: 70%;
	margin-top: 4%;
	margin-left: 14%;
}
